{% extends "::base.html.twig" %}

{% block body %}

    <div class="container">
        <h2>Lista de fabricantes</h2>
        <hr/>
        <p><a href="{{ path("fabricante_new") }}" class="btn btn-default">Inserir novo fabricante</a></p>
        <hr/>

        <table class="table table-striped">
            <thead>
            <tr>
                <th>ID</th>
                <th>Nome</th>
                <th>Descrição</th>
                <th>Carros</th>
                <th>Ação</th>
            </tr>
            </thead>
            <tbody>
            {% for fabricante in fabricantes %}
                <tr>
                    <td>{{ fabricante.id }}</td>
                    <td>{{ fabricante.nome }}</td>
                    <td>{{ fabricante.descricao }}</td>
                    <td>
                        <ul>
                            {% for carro in fabricante.carros %}
                                <li>{{ carro.modelo }}</li>
                            {% endfor %}
                        </ul>
                    </td>
                    <td>
                        <a href="{{ path('fabricante_edit', {'id': fabricante.id}) }}" class="btn btn-warning btn-sm">edit</a>
                        <a href="{{ path('fabricante_delete', {'id': fabricante.id}) }}" class="btn btn-danger btn-sm">apagar</a>
                    </td>
                </tr>
            {% endfor %}
            </tbody>
        </table>
    </div>

{% endblock %}