{% extends '::base.html.twig' %}

{% block body %}
<ul>
    {% for produto in produtos %}
        <li>
            <strong>{{ produto.name }} - {{ produto.description }}</strong>
            (Peso: {{ produto.detail.peso }}
            , Altura: {{ produto.detail.altura }}
            , Largura: {{ produto.detail.largura }})
        </li>
    {% endfor %}
</ul>
{% endblock %}