{% extends '::base.html.twig' %}

{% block body %}

    <div class="container">
        <h2>Produtos</h2>

        <a href="{{ url('new_produto') }}"><button class="btn btn-default">Novo Produto</button></a><br/><br/>

        <table class="table">
            <thead>
            <tr>
                <th>ID</th>
                <th>Nome</th>
                <th>Descrição</th>
                <th>Categorias</th>
                <th>Ação</th>
            </tr>
            </thead>

            <tbody>
                {% for produto in produtos %}
                    <tr>
                        <td>{{ produto.id }}</td>
                        <td>{{ produto.name }}</td>
                        <td>{{ produto.description }}</td>
                        <td>
                            <ul>
                                {% for categoria in produto.categorias %}
                                    <li>{{ categoria.name }}</li>
                                {% endfor %}
                            </ul>
                        </td>
                        <td></td>
                    </tr>
                {% endfor %}
            </tbody>
        </table>
    </div>

{% endblock %}